 body{
    background-color: #151515;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container a{
    color: #fff;
}

.hover-icon,
.hover-icon-1,
.hover-icon-2, 
.hover-icon-3{
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    line-height: 84px;
    border-radius: 10%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: #333;
    transition: 300ms;
}

.hover-icon{
    background-color: #169BD7;
}

.hover-icon-1 {
    background-color: #EB001F ; 

}
.hover-icon-2 {
    background-color: #2EB67D; 
}

.hover-icon-3 {
    background-color: #7600bc; 
}

.hover-icon:after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.hover-icon-1:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.hover-icon-2:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.hover-icon-3:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.hover-icon:hover:after{
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #169BD7,
    0px 0px 50px #169BD7,
    0px 0px 100px #169BD7;
}

.hover-icon-1:hover:after {
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #EB001F,
    0px 0px 50px #EB001F,
    0px 0px 100px #EB001F;
}

.hover-icon-2:hover:after {
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #2EB67D,
    0px 0px 50px #2EB67D,
    0px 0px 100px #2EB67D;
}

.hover-icon-3:hover:after {
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #7600bc,
    0px 0px 50px #7600bc,
    0px 0px 100px #7600bc;
}
