*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(48, 63, 83);    
}

.main{
    width:18rem;
    height:24rem;
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
    border-radius: 14px;
}

.card{
    width: 17rem;
    height: 23rem;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-top{
    width:17rem;
    height: 9rem;
    background:linear-gradient(#1e87b4,#00e5ff);
    border-radius: 12px;
}
.logo{
    position: absolute;
    margin-top:6rem;
    width:90px;
    height:90px;
    border-radius: 50px;
    background-color: #fff;
}
.logo img{
    width: 80px;
    height: 80px;
    margin: 3px 0 0 5px;
}

.profile p{
    padding: 13px;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    width: 120px;
    height:40px;
    margin: 30px 0 0 70px;
    border-radius: 50px;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: 500;
    border:none;
}
