body{
    padding: 60px 100px 0px 100px;
    background-color: #00171d;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2,p{
    font-size: 34px;
    color: rgb(255, 255, 255);
}
p{
    font-size: large;
}
.options-container{
    display: flex;
    justify-content: center;
   position: relative;
   height: 30px ;
}
.select-box,.select-box2{
    border: none;
    appearance:none;
    padding:0 30px 0 15px;
    width: 100%;
    color: black;
    background-color:aqua;
    font-size: 15px;
}
.icon,.icon2{
    position: absolute;
    right:6px;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.select-box2 {
    
    background: linear-gradient(90deg,aqua 82%, #042c54 77%) ;
}
.icon2{
    color: aqua;
}