*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #b8e9f9;
    height: 100vh;
  }

 .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 30px;
}
 
img{
    width: 100%;
    height:100%;
    border-radius:20px;
    transition: 0.8s ease-in-out;
}
.card{
    width: 250px;
    height: 170px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    display:flex;
    align-items: end;  
    box-shadow: 1px 1px 10px #0e0e0e, 2px 2px 6px rgb(1, 1, 249);
   
}
.card:hover img {
    transition: 0.8s ease-out;
    transform: scale(1.2);
    
}
span{
    position: absolute;
    opacity: 0;
    margin:20px 0 10px 20px;
    overflow: hidden;
    font-size: 26px;
}
.card:hover span{
    position: absolute;
    opacity: 1;
    margin-left:25px;
    font-size: 40px;
    transition: 0.4s ease-in-out;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#e4e4e4;
    text-shadow: 0 0 4px #0e0e0e;
}
.download{
    text-align: center;
}
.download a{
    width: 50px;
    height: 40px;
    background-color: #0e0e0e;
}





























/* Design By Sandeep Palai */